* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


:root {
    --dark: #03045e;
    --mid: #0077b6;
    --light: #90e0ef;
    --white: #ffffff;
}


.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #03045e;
    color: #90e0ef;
}

nav {
    display: flex;
    align-items: center;
    gap: 100px;
}

ul {
    display: flex;
    gap: 30px;
}

button {
    background-color: #0077b6;
    color: #90e0ef;
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background-color: #0077b6;
    color: var(--white);
}


.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 70px;
    background: linear-gradient(135deg, var(--dark), var(--mid));
    color: #0077b6;
}

.description,
.image {
    flex: 1;
    padding: 10px;
}

img {
    width: 320px;
    border-radius: 80px 0 80px 0;
    border: 4px solid var(--light);

    margin-left: 150px;
}


#first {
    background-color: #90e0ef;
    color: #03045e;
}

.projet {
    background: transparent;
    border: 2px solid var(--light);
    color: #90e0ef;
}


.header2,
.header3,
.header4 {
    text-align: center;
    padding: 60px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.header2 {
    background-color: #03045e;
}

.header3 {
    background-color: #0077b6;
}

.header4 {
    background-color: #03045e;
}


.main2,
.main3,
.main4 {
    padding: 100px 20px;
    text-align: center;
    line-height: 1.7;
}


.main2 {
    background-color: #03045e;
    color: #0077b6;
}

.main3 {
    background-color: #0077b6;
    color: white;
}


.main4 {
    background-color: #03045e;
    color: white;
}


.header5 {
    text-align: center;
    padding: 30px;
    background-color: #0077b6;
    color: #000000;
}

.realisations {
    background-color: #0077b6;
    padding: 80px 20px;
    text-align: center;
    color: #070808;
}

.project-card {
    background-color: #0077b6;

    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.project-card img {
    width: 90px;

}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
    margin: 20px 0 10px;
    font-size: 1.8rem;
    color: #03045e;
}

.project-card p {
    color: #020303;
}


.footer {
    background-color: #03045e;
    padding: 40px 0;
    text-align: center;
}

.footer h3 {
    color: #0077b6;
    margin-bottom: 25px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.social-icons img {
    width: 38px;
    height: 38px;
    filter: brightness(0) invert(1);
    transition: 0.25s ease;
}

.social-icons img:hover {
    transform: scale(1.15);
}


@media (max-width: 700px) {
    .sec1 {
        flex-direction: column;
        text-align: center;
    }
}